body {
  /*background-color: black;*/
  /*background-image: url("https://images.pexels.com/photos/267684/pexels-photo-267684.jpeg?cs=srgb&dl=adult-book-boring-267684.jpg&fm=jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
}

.news-feed {
  /*border: 10px inset #b39dd7c7;*/
  /*background: clear;*/
  /*font-size: 25px;*/
  padding: 25px 10px;
  /*background-color: #0000004d;*/
  color: black;
  text-overflow: ellipsis;
}

.spot-item a {
  color: #686e73;
  /*list-style-type: none;*/
}

.reddit-item .spot-list  .spot-item{
  list-style-type: none;
  /*box-shadow: 10px 5px 12px 4px #4e4a4a;*/
}

.reddit-title .spot-list {
  font-family: sans-serif;
  font-size: 14px;
}

.reddit-subline {
  font-family: cursive;
  font-size: 12px;
}

.reddit-subline .reddit-title {
  /*border: 10px inset #80000063;*/
  background: clear;
  font-color: black;
  padding: 25px 10px;
  background-color: #0000004d;
}

.red-feed {
  box-sizing: border-box;
}

.reddit-item a {
  color: #686e73;
}
