.container div {
  background-color: grey;
}

.spot-item a {
 list-style-type: none;
 color: white;
}

 .reddit-list ul {
  list-style-type: none;
}

.reddit-title {
  font-family: sans-serif;
  font-size: 14px;
  color: black;
}

.reddit-item .reddit-subline {
  color: darkgrey;
  font-size: 12px;
}

.spotify-subline {
  color: darkgrey;
  font-size: 12px;
}

.container .reddit-item  a {
  color: black;
  text-decoration: none;
}

.container .spot-item a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.container .reddit-list:hover {
  background-color: silver;
}

.container .spot-item:hover {
  background-color: silver;
}
